.aboutContainer
{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.about
{
    width:78%;
    gap:6%;
    height:45%;
    display:flex;
    justify-content: space-between;
}

.aboutSVG
{
    height:100%;
    margin-right:2%;
}

.aboutContent
{
    width:100%;
    display:flex;
    height:100%;
    gap:8%;
    flex-direction: column;
    justify-content: space-between;
}

.aboutHeader
{
    color: #000;
    font-family: "IBM Plex Serif";
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    contain-intrinsic-height:initial;
}

.aboutDesc
{
    max-height: fit-content;
    color: #000;
    font-family: Inter;
    font-size: 1.45rem;
    font-weight:400;
    line-height: 2.3rem;
}



@media screen and (max-width:1300px)
{
    .aboutContent
    {
        text-align: center;
    }

    .aboutSVG
    {
        display:none;
    }
}


@media screen and (max-width:800px)
{ 
    .aboutContainer
    {
        height:60vh;
    }

    .aboutContent
    {
        gap:12%;
    }

    .aboutHeader
    {
        font-size:1.8rem;
    }

    .aboutDesc
    {
        font-size:0.9rem;
        line-height:1.5rem;
    }
}